*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}
.container{
    position: relative;
}
.container .card{
    position: relative;
    width:320px;
    height:450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.container .card:before
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: #9bdc28;
    clip-path:circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .card:hover::before{
    clip-path:circle(300px at 80% -20%);
}

.container .card::after{
    content:'Nike';
    position:absolute;
    top:30%;
    left:-20%;
    font-size:12em;
    font-weight:800;
    font-style: italic;
    color:rgba(255,255,255,0.04);
}

/* .container .card .imgBx{
    top:0%;
    transform:translateY(0%);
}

.container .card .imgBx img{
    position:absolute;
    top:50%;
    left:50%;
    transform : translate(-50%, -50%) rotate(-25deg);
    width:270px;
} */

/* .container .card .contentBx
{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hober .contentBx
{
    height:210px;
}

.container .card .contentBx h2{
    position:relative;
    font-weight: 600;
    letter-spacing: 1px;
    color:#fff;
} */

/* .container .card .contentBx .size
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8px 20px;
    transition: 0.5s;
}

.container .card .contentBx .size h3{
    color:#fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right:10px;

} */

/* .container .card .contentBx .size span{
    width:26px;
    height: 26px;
    text-align:center;
    line-height: 26px;
    font-size:14px;
    display: inline-block;
    color:#111;
    background:#fff;
    margin: 0 5px;
    transition: 0.5s;
    color:#111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size span:hover
{
    background: #9bdc28;
} */