.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 40px;
  height: 5px;
  background: #333;
  margin: 6px 0;
  transition: 0.5s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
.change .bar2 {
  opacity: 0;
}
