*{
    margin:0;
    padding:0;
}

.container{
margin:auto;
/* position: absolute; */
/* top: 0; left: 0; bottom: 0; right: 0; */
display: flex;
justify-content: center;
align-items: center;
}
.bar{

}
.bar1 , .bar2 , .bar3{
    height:10px;
    width:80px;
    margin:8px;
    background: #000000;
    transition :0.5s;
}

.clicked .bar3{
    transform:rotate(45deg) translate(8px , -22px)
}
.clicked .bar1{
    transform:rotate(-45deg) translate(-8px, 25px)
}

.clicked .bar2{
    opacity:0;
}


.overlay{
    height:0%;
    background-color: rgba(0,0,0,0.5);
    width:100%;
    position:fixed;
    transition: 0.5s;
}