p{
    padding:10px;
    background:cyan;
    width:50px;
    animation : translating 4s linear 2;
}

@keyframes translating{
    0% {transform:translate(0,0)}
    25% {transform:translate(250px,0)}
    50% {transform:translate(250px,250px)}
    75% {transform:translate(0px,250px)}
    100% {transform:translate(0,0)}
}

.rotate{
    padding:10px;
    background:red;
    width:50px;
    animation: rotating 4s linear 2;
}

@keyframes rotating{
    0% {transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}